* {
    font-family: "Roboto", sans-serif;
}
body{
    display: flex;
    align-items:center;
    justify-content: center;
    height: 100vh;
    background-color: #fff;

}
#email-designer-splash{
    width: 100px;
    height: 100px;
    border-radius: 12px;
}
